on:
  workflow_dispatch:
    inputs:
      bash_file:
        description: 'Enter Bash filename'
        required: true
        default: 'Port.sh'   
      exe_file:
        description: 'Enter executable filename'
        required: true
        default: 'port'   
      folder_name:
        description: 'Enter port folder name'
        required: true
        default: 'some_folder'
      port_file:
        description: 'Enter port.json file name'
        required: true
        default: 'port.json'       
      sdl_version:
        description: 'Enter SDL Version required'
        required: true
        default: '2.32.0'

jobs:
  printInputs:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Port Bash Name: ${{ github.event.inputs.bash_file }}"
        echo "Port Binary Name: ${{ github.event.inputs.exe_file }}"
        echo "Port Folder Name: ${{ github.event.inputs.folder_file }}"
        echo "Port Json File Name: ${{ github.event.inputs.port_file }}"
        echo "SDL version: ${{ github.event.inputs.sdl_version }}"
         
